* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    to top, 
    #006400, 
    #777, 
    #666, 
    #555, 
    #444,
    #333
  );
}

.container {
  position: relative;
  height: 400px;
  width: 320px;
  border-bottom: 3px solid #333;
}