* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    to top, 
    #006400 0%, 
    #006400 22%, 
    #777 23%, 
    #666 40%, 
    #555 60%, 
    #444 80%,
    #333 100%
  );
}

.container {
  position: relative;
  height: 400px;
  width: 320px;
  border-bottom: 3px solid #006400;
}

.cloud { 
  position: relative;
  height: 100px;
  width: 100%;
  top: 50px;
  background: #222;
  border-radius: 100px;
}

.cloud:before {
  content: ''; 
  position: absolute;
  height: 110px;
  width: 110px;
  top: -50px;
  left: 40px;
  background: #222;
  border-radius: 50%;
  box-shadow: 90px 0 0 30px #222;
}

.rain {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
}

span {
  width: 10px;
  height: 10px;
  background: #888;
  border-radius: 50%;
  margin: 0 2px;
}

@keyframes rain {
  0% {
    transform: translateY(0) scale(1);
  }
  70% {
    transform: translateY(288px) scale(1);
  }
  100% {
    transform: translateY(288px) scale(0);
  }
}