@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  font-family: 'Fredericka the Great', serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000;
  position: relative;
  overflow: hidden;
}

.tardis {
  position: relative;
  width: 190px;
  height: 300px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.2)),
    url('./image/bg-2.jpg') no-repeat center;
  background-size: cover;
  border-top: 13px solid #022263;
  border-left: 12px solid #032a78;
  border-right: 12px solid #032a78;
  border-bottom: 16px solid #022263;
  box-shadow: 0 0 15px rgba(0, 0, 255, 0.7);
  animation: materialise 10s infinite;
  cursor: pointer;
}

.tardis:before {
  content: "";
  position: absolute;
  top: -40px;
  left: 50%;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50% 50% 0 0;
  transform: translateX(-50%);
  animation: tardis-light 0.5s infinite;
}

@keyframes materialise {
  0%, 100% {
      opacity: 0;
      transform: scale(0.5);
  }
  50% {
      opacity: 1;
      transform: scale(1);
  }
}

@keyframes tardis-light {
  0%, 100% {
      opacity: 0;
  }
  50% {
      opacity: 1;
      box-shadow: 0 0 30px #fff, 
                  0 0 60px #fff, 
                  0 0 90px #fff;
  }
}

.tardis .door { 
  position: absolute; 
  top: 0; 
  width: 50%; 
  height: 100%; 
  background: #0044cc; 
  border: 3px solid #000; 
  box-shadow: 0 0 0 2px #0044cc, 
              inset 0 0 0 3px #022263; 
              z-index: 1; 
} 
  
.tardis .left-door { 
  left: 0; 
  transform-origin: left; 
} 

.tardis .right-door { 
  right: 0; 
  transform-origin: right; 
} 

.tardis .window { 
  position: absolute; 
  top: 10px; 
  width: 60px; 
  height: 80px; 
  background: #fff; 
  border: 3px solid #000; 
  box-shadow: 0 0 0 2px #0044cc, 
              inset 0 0 0 3px #022263; 
} 

.left-door .window { 
  left: 10px; 
} 

.right-door .window { 
  right: 10px; 
} 

.tardis:hover .left-door { 
  animation: open-left-door 5s forwards; 
} 

.tardis:hover .right-door { 
  animation: open-right-door 5s forwards; 
} 

@keyframes open-left-door { 
  to { 
    transform: rotateY(-90deg); 
  } 
} 

@keyframes open-right-door { 
  to { 
    transform: rotateY(90deg); 
  } 
} 

.star-field { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  background: transparent; 
  z-index: -1; 
}
